PORT=3000
HEADLESS=true
MEGAGAME_USER=SEU_USUARIO
MEGAGAME_PASS=SUA_SENHA
MAX_REGISTROS=100
CAPTURE_INTERVAL_MS=3000
LOGIN_URL=https://megagamelive.com/login
AVIATOR_URL=https://megagamelive.com/aviator
